<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sample Flask Website</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/chart">Chart</a>
      </li>
      <!-- <li class="nav-item active">
        <a class="nav-link" href="/postgresql-chart">PostgreSQL Chart</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/mongodb-chart">MongoDB Chart</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/sqlite-web-api">SQLite Web API</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/postgresql-web-api">PostgreSQL Web API</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/mongodb-web-api">MongoDB Web API</a>
      </li>
    </ul>
  
  </nav>
  <div class="content">
    <h2>Flask With JS Visualizations from SQLite, PostgreSQL, and MongoDB!</h2>
    <br>
    <p>Flask can render webpages with JavaScript visualizations using data from different databases.  This website generates the same visualization using data from SQLite, PostgreSQL, and MongoDB.</p>
  </div>
</body>

</html>
